* {
  box-sizing: border-box;
}
body {
  background-color: white;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: xx-large;
  font-style: italic;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: 100px;
  color: lawngreen;
  background-color: none;
}
#logo {
  height: 50px;
  margin: 5px;
}
#burgermenu {
  background: none;
  border: none;
}
header nav {
  display: none;
}
.show {
  display: block;
}
#hero {
  color: white;
  text-align: center;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(img/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url;
  padding: 20px;
}
.button {
  background-color: white;
  font-size: 14;
  color: #374a67;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border-color: black;
  border: 2px solid #374967;
  padding: 10px;
  margin-top: 1rem;
  display: inline-block;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease;
}
.button:hover {
  background-color: #374a67;
  color: white;
}
h2{
  text-align: center;
}
.card {
  max-width: 360px;
  margin: 20px;
  border-radius: 12px;
  text-align: center;
  background-color: whitesmoke;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  overflow: hidden;
}
.card h3 a {
  color: #333;
  text-decoration: none;
}
.card p a {
  color: #828282;
  text-decoration: none;
  text-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  display: block;
  margin: 0 1rem;
}
.button-blue {
  background-color: #374a67;
  color: white;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
}
.button-blue:hover {
  background-color: white;
  color: #374a67;
}
.card a img {
  width: 100%;
}
aside{
  background-color: #04122b;
  color: white;
  text-align: center;
  padding: 2rem;
}
aside h2 span{
  display: block;
}
form input{
  text-align: center;
  padding: 10px;
}

@media (min-width: 768px) {
  header nav {
    display: block;
  }
  #burgermenu {
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin: 10px;
  }
  .rowrezepte{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
